<article>
  <div class="person-img-wrapper">
    <img
      src="/photo/person/pexels-christina-morillo-1181519.jpg"
      alt="person"
    />
  </div>
  <h3>mission</h3>
  <p>
    In mollis nunc sed id semper risus in hendrerit gravida. Aliquet enim tortor
    at auctor urna nunc id cursus. Risus at ultrices mi tempus imperdiet. Sapien
    pellentesque habitant morbi tristique senectus et netus. Id cursus metus
    aliquam eleifend mi in. Quis commodo odio aenean sed. Sollicitudin ac orci
    phasellus egestas tellus. Id velit ut tortor pretium.
  </p>
</article>
